@charset "utf-8";
* {
	font-family: 'Nanum Gothic', sans-serif;
}
html {
  overflow:auto;
  position:relative;
  width:100%;
  overflow-y:scroll;
}
input[type='password'] {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header {
  width:100%;
	position:absolute;
  top:0;
  left:0;
	background:transparent;
  background-color:rgba(255,255,255,0.9);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr=#e6ffffff,endColorStr=#e6ffffff)";
zoom:1;
  z-index:100;
	overflow:hidden;
}
/*
#header:before {
	content:"";
	height:143px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	border-bottom:1px solid #ddd;
}
*/
#header .tnb {
	width:100%;
	height:55px;
	background:url("../images/layout/tnb_bg.png") no-repeat;
	background-size:cover;
	/*background-color:#34796d;*/
	border-bottom:5px solid #004a27;
}
#header .headWrap {
	background:url("../images/layout/gnb_bg.jpg") no-repeat;
	background-size:cover;
}
#header .tnb .homeBtn {
	margin-right:10px;
	display:block;
	float:left;
	margin-top:15px;
}
#header .tnb .homeBtn img {
	display:block;
}
#header .tnbInner {
	width:1100px;
	margin:0 auto;
}
#header .logBox:after {
	content:"";
	display:block;
	clear:both;
}
#header .logBox {
	float:right;
	height:50px;
	line-height:50px;
	padding-right:32px;
}
#header .logBox span {
	color:#fff;
	margin:0 7px;
}
#header .tnbInner a {
	color:#fff;
	font-size:13.5px;
}
#header .logBox div {
	float:left;
}
#header .headInner {
  width:1100px;
  margin:0 auto;
  position:relative;
	height:87px;
	padding-top:16px;
}
#header h1 {
  display:inline-block;
}
.headOn {
  position:fixed;
}
#header h1 a{
  display:block;
  text-decoration:none;
  color:#333;
  font-weight:700;
}
.headInner:before {
	content:"";
	position:absolute;
	left:0;
	top:56px;
	width:150px;
	height:200px;
	background:url("../images/main/snow-man-516037_1920.jpg") no-repeat;
	z-index:10;
	display:none;
}
.gnb {
  float:left;
  padding-left:40px;
  display:none;
}
.gnb:after, .category:after, .infoBox:after, .designList:after, #header .headInner:after {
  content:"";
  display:block;
  clear:both;
}
.gnb li {
  float:left;
  line-height:56px;
  padding:0 15px;
}
.gnb li a:hover {
  color:#ddd;
}
.mainMenu {
	float:left;
	position:relative;
	padding-left:55px;
}
.mainMenu .subGnb {
	height:300px;
	display:none;
	overflow:hidden;
	position:relative;
}
.mainMenu .bgLeft {
	position:absolute;
	bottom:0;
	left:-300px;
	width:300px;
	height:200px;
	display:none;
}
.mainMenu .onSlider {
	display:block;
}
.mainMenu ul:after, .headInner:after {
	content:"";
	display:block;
	clear:both;
}
.mainMenu ul li {
	float:left;
	width:130px;
	text-align:center;
	overflow:hidden;
}
.mainMenu a {
	display:block;
	font-size:18px;
	position:relative;
	text-decoration:none;
	height:71px;
	padding-top:20px;
}
.mainMenu .depth1:after {
	content:"";
	display:block;
	clear:both;
	position:absolute;
	bottom:0;
	left:10%;
	width:0;
	height:4px;
	background-color:#666;
	opacity:0;;
}
.mainMenu li .on:after {
	width:80%;
	transition:all 0.7s;
	opacity:1;
}
.mainMenu .onFocus {
	display:block;
}
.subMenu {
	display:none;
	position:absolute;
	width:200px;
	background-color:#a47760;
}
.subMenu li {
	width:100%;
}
.subMenu li a {
	padding:15px;
	font-size:12px;
	display:block;
	position:relative;
	color:#fff
}
.mainMenu .subGnb li {
	text-align:left;
	line-height:normal;
	padding:10px 8px;
}
.subMenu li a:hover, .subMenu li a:focus {
	color:#fff;
	background-color:#906957;
}
.headL, .headR {
	float:left;
}
.headR {
  display:inline-block;
}
.headR .searchBox {
  float:left;
  line-height:56px;
  margin-right:20px;
  position:relative;
}
.headR .searchBox input {
  line-height:normal;
  border-radius:5px;
  width:200px;
  color:#777;
  text-indent:5px;
  outline:none;
  border:1px solid #ddd;
  box-sizing:border-box;
  padding:5px 20px 5px 70px;
}
.searchBox .searchBtn img{
  position:absolute;
  top:21px;
  right:10px;
}
.headR .searchBox a {
  color:#fff;
}
.headR .loginBox {
  float:left;
  line-height:56px;
}
.headR .loginBox a{
  padding-right:15px;
  display:inline-block;
  font-size:12px;
}
.headR .logOn {
	display:none;
}
.headR .logOn:after {
	content:"";
	display:block;
	clear:both;
}
.headR .logOn .pcBell, .headR .logOn .myInformation {
	float:left;
	position:relative;
}
.headR .myInfoBtn {
	line-height:60px;
	padding:5px 10px;
	border:1px solid #ddd;
	font-size:13px;
}
.headR .logOn .pcBell {
	padding-right:20px;
	position:relative;
}
.headR .logOn .pcBell i {
	font-size:21px;
	line-height:60px;
	cursor:pointer;
}
.headR .bellBox {
	position:absolute;
	top:56px;
	right:5px;
	width:290px;
	background-color:#f1f1f1;
	padding:15px;
}
.headR .bellBox, .headR .myInfoList {
	display:none;
}
.headR .logCon {
	float:left;
	height:56px;
}
.headR .logCon:after {
	content:"";
	display:block;
	clear:both;
}
.headR .myInfoList {
	position:absolute;
	top:56px;
	right:0;
	background-color:#f1f1f1;
}
.headR .myInfoBtn i {
	padding-left:5px;
}
.headR .myInfoList li a {
	padding:10px;
	width:150px;
	display:block;
	font-size:14px;
}
.signUp a {
	font-size:12px;
	display:block;
}
.headR .loginBox a i {
  font-size:19px;
  padding-left:5px;
}
.signUp {
  float:left;
  line-height:56px;
}
.signUp a i {
  margin-left:5px;
}
.keyword {
  border-top:1px solid #eee;
  padding:20px 0;
}
.keyword input {
  outline:none;
  border:none;
  border-bottom:1px solid #ddd;
  text-indent:5px;
}
.headGnbSub {
	height:245px;
	display:none;
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
.headGnbSub .depth2:after {
	content:"";
	display:block;
	clear:both;
}
.headGnbSub .depth2 {
	width:788px;
}
.headGnbSub .gnbLeftTitle {
	width:312px;
	padding-top:65px;
	background:url("../images/layout/gnbLeftTitle_bg.png") no-repeat 220px 0px;
}
.headGnbSub .gnbLeftTitle .top {
	font-size:28px;
	font-weight:700;
	padding-bottom:15px;
}
.headGnbSub .gnbLeftTitle .text {
	font-size:17px;
}
.headGnbSub .depth2, .headGnbSub .gnbLeftTitle {
	float:left;
}
.subMenuInner after {
	content:"";
	display:block;
	clear:both;
}
.headGnbSub .depth2 > li{
	float:left;
	margin:9px 0;
	border-right:1px solid #d7d7d7;
	height:202px;
}
.headGnbSub .depth2 > li:first-child {
	border-left:1px solid #d7d7d7;
}
.headGnbSub .depth2 li ul {
	float:left;
	width:129px;
	text-align:center;
}
.headGnbSub .depth2 li ul.first {
	width:128px;
}
.headGnbSub .depth2 a {
	font-size:16px;
	display:block;
	padding:9px 0;
}
.subMenuInner:after{
	content:"";
	display:block;
	clear:both;
}
.subMenuInner {
	width:1100px;
	margin:0 auto;
	position:relative;
}
.subMenuInner .sideBg01 {
	position:absolute;
	bottom:-28px;
	left:-410px;
}
.subMenuInner .sideBg02 {
	position:absolute;
	bottom:-28px;
	right:-401px;
}
#footer {
  width:100%;
  background:#f8fbfc;
  color:#444;
}
#footer .ftInner {
	width:1100px;
	margin:0 auto;
	font-size:14px;
	text-align:center;
	height:93px;
	padding-left:206px;
}
.ftInner:after {
	content:"";
	display:block;
	clear:both;
}
.ftInner .ftLogo, .ftInner .ftText {
	float:left;
	padding-top:15px;
}
.ftInner .ftText {
	text-align:left;
	padding-top:20px;
	padding-left:80px;
}
#footer .ftInner p {
	padding-bottom:8px;
}
#footer .copylight {
  display:inline-block;
}
#footer .fnb {
  display:inline-block;
  padding-left:20px;
}
#footer .fnb:after {
  content:"";
  display:block;
  clear:both;
}
#footer .fnb li {
  display:inline-block;
  padding-right:10px;
}
#skipNav {
	text-align:center;
	position:relative;
	z-index:9999;
}
#skipNav a {
	color:#fff;
	display:block;
	height:1px;
	width:1px;
	margin-bottom:-1px;
	overflow:hidden;
	font-size:20px;
	white-space:nowrap;
	text-align:center;
	background-color:#333;
}
#skipNav a:focus, #skipNav a:active {
	height:auto;
	width:100%;
	padding:5px;
	margin-bottom:10px;
	position:fixed;
	left:0;
	top:0;
}
.loginWrap {
	position:absolute;
	top:200px;
	width:100%;
	display:none;
}
.loginInner {
	margin:0 auto;
	z-index:1004;
	position:fixed;
	left:50%;
	width:400px;
	margin-left:-200px;
	background-color:#fff;
	min-height:353px;
	box-shadow:1px 1px 2px 0px lightgrey;
	border:1px solid #ccc;
}
.loginWrap .step2, .loginWrap .step3 {
	display:none;
}
.loginInner .title{
	background-color:#ddd;
	text-align:center;
	padding:10px 0;
	position:relative;
}
.loginInner .title i {
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.loginInner .title .fa-chevron-left {
	position:absolute;
	top:12px;
	left:10px;
	right:auto;
	cursor:pointer;
	font-size:14px;
}
.loginInner .naver, .loginInner .facebook {
	text-align:center;
	padding-top:0px;
}
.loginInner .naver a, .loginInner .facebook a {
	display:inline-block;
	padding:10px 15px;
	color:#fff;
	width:300px;
}
.loginInner .naver a{
	background:#00c63b url("../images/main/naver.png") no-repeat 6px;
}
.loginInner .facebook a{
	background:#3b5998 url("../images/main/facebook.png") no-repeat;
}
.loginInner .br {
	text-align:center;
}
.loginInner div {
	text-align:center;
	margin-bottom:15px;
}
.loginInner .ct a {
	font-size:13px;
}
.loginWrap a {
	border:1px solid #ccc;
}
.loginInner form input {
	display:block;
	margin:0 auto;
	width:300px;
	height:34px;
	padding-left:10px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
.loginInner form .like input {
	width:auto;
	height:auto;
	padding:0;
	margin:0;
	display:unset;
}
.loginInner form .like ul:after {
	content:"";
	display:block;
	clear:both;
}
.loginInner form .like li {
	width:50%;
	float:left;
	text-align:left;
	padding-bottom:5px;
}
.loginInner form .like label {
	padding-left:10px;
}
.loginInner form .sectors, .loginInner form .sectors div {
	text-align:left;
}
.loginInner .sectors select {
	width:100%;
	height:34px;
}
.loginInner .sectors .stTitle {
	padding-bottom:5px;
}
.loginInner .logBtn {
	width:300px;
	display:block;
	margin:0 auto;
	height:36px;
	background-color:#906957;
	color:#fff;
	line-height:36px;
}
.loginInner .find {
	padding-top:10px;
}
.loginInner .find .pw_find {
	margin-right:30px;
}
.loginInner .find a {
	font-size:13px;
}
.loginInner .state {
	background-color:#eee;
	margin:0;
	padding:10px 0;
}
.loginInner .state label {
	display:inline-block;
	padding-left:5px;
	font-size:14px;
}
.loginInner .state input {
	margin-top:0;
}
.loginWrap .step2 p, .loginWrap .step3 p {
	font-size:12px;
	padding-bottom:10px;
}
.loginWrap .step2 .email input {
	display:block;
	width:300px;
	margin:0 auto;
	height:34px;
	padding-left:10px;
}
.loginWrap .step2 .set a, .loginWrap .step3 .close a {
	width:300px;
	display:block;
	height:36px;
	line-height:36px;
	background-color:#906957;
	color:#fff;
	font-size:14px;
}
.loginInner .likeTitle {
	text-align:left;
}
.signForm {
	position:absolute;
	top:200px;
	width:100%;
}
.signForm .signWrap {
	width:300px;
	margin:0 auto;
}
.signForm .userSlect:after {
	display:block;
	content:"";
	clear:both;
}
.signForm .userSlect {
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
}
.signForm .userSlect a{
	float:left;
	width:49%;
	box-sizing:border-box;
	font-size:14px;
	height:36px;
	line-height:36px;
	color:#fff;
}
.signForm .userSlect .design {
	background-color:#ffabab;
	margin-right:2%;
}
.signForm .userSlect .company {
	background-color:#cabed8;
}
.signForm .ct .normal a {
	font-size:13px;
	padding:10px 15px;
	background-color:#906957;
	width:300px;
	color:#fff;
	display:block;
}
.signForm .check input {
	width:auto;
	display:inline-block;
	padding:0;
	height:auto;
}
.signForm .check .box2 {
	position:relative;
}
.signForm .check .detail {
	position:absolute;
	right:0;
	top:0;
}
.signForm .check .detail a{
	font-size:12px;
	padding:5px 10px;
	background-color:#666;
	color:#fff;
}
.signForm .check label {
	font-size:14px;
}
.signForm .urlValue, .signForm .check div {
	text-align:left;
}
.signForm .signUpBtn a{
	font-size:14px;
	padding:10px 15px;
	background-color:#906957;
	width:100%;
	color:#fff;
	display:block;
}
.signForm .signStep1, .signForm .signStep2, .signForm .signStep3 {
	display:none;
}
.signForm .urlValue {
	font-size:13px;
}
#m_mainMenu, .m_menu_btn, .m_search, .m_bell, .m_loginBox, .m_signUp, #m_know {
	display:none;
}
.bg {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:1000;
  display:none;
}
#subBanner {
	background:url("../images/common/sub_bg.jpg") no-repeat;
	background-size:cover;
	width:100%;
	height:150px;
}
.quick {
	position:absolute;
	right:-80px;
	top:210px;
}
.quick .quickTop {
	width:80px;
	height:64px;
	color:#fff;
	background-color:#00481d;
	text-align:center;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	padding-top:20px;
	font-size:14px;
}
.quick .quickTop strong, .quick .quickTop span {
	display:inline-block;
}
.quick .quickTop strong {
	margin-bottom:5px;
}
.quickBtnBox {
	padding:10px 0;
	background-color:#efefef;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.quickBtnBox .quickBtn {
	height:61px;
	text-align:center;
}
.quickBtnBox .quickBotLine {
	margin-top:-7px;
	text-align:center;
	height:13px;
}
/* ie7 경고 */
.browserBox{
	position:fixed;
	display:none;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:5000;
}
.browserBg{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url(../images/main/browser_bg.png) repeat;
}
.browserCon{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-210px;
	margin-left:-220px;
	background:#fff;
}
.browserConIn{
	width:440px;
	padding:50px 30px 30px 30px;
}
.browserConIn img{
	max-width:100%;
}
.browserCloseBtn{
	position:absolute;
	right:11px;
	top:11px;
  min-width:20px;
}
.browserCon .p01{
	margin-bottom:50px;
	font-size:36px;
	font-weight:500;
	color:#000;
	text-align:center;
}
.browserCon .p02{
	margin-bottom:50px;
	font-size:18px;
	line-height:170%;
	color:#000;
}
.browserBtnBox{
	overflow:hidden;
	min-height:57px;
}
.browserBtnBox .fL,
.browserBtnBox .fR{
	display:inline-block;
}
.browserBtnBox .fL{
	float:left;
	width:49%;
}
.browserBtnBox .fR{
	float:right;
	width:49%;
}
.browserBtnBox02 button{
	display:block;
	width:100%;
}
#header .m_logo, .m_title {
	display:none;
}
.bg {
	display:none !important;
}
@media all and (max-width:1100px) {
	.headR {
		display:none;
	}
	.m_title {
		display:block;
		position:absolute;
		left:50%;
		top:35px;
		font-size:24px;
	}
	#header {
		position:fixed;
		border-bottom:1px solid #ddd;
	}
	#header .logBox {
		line-height:normal;
		height:auto;
		padding:3px 15px 0 0;
		line-height:50px;
	}
	#m_mainMenu {
		z-index:100;
	}
	#header .pc_logo {
		display:none;
	}
	#header .m_logo {
		display:block;
	}
	#header .headInner, #header .tnbInner, #footer .ftInner {
		width:100%;
	}
	#m_mainMenu, .m_menu_btn, .m_search, .m_bell, .m_loginBox, .m_signUp, #m_know {
		display:block;
	}

	#footer .ftInner {
		padding-left:0;
		height:auto;
	}
	.ftInner .ftText {
		font-size:12px;
		padding:0;
		padding:20px 10px;
	}
	.ftInner .ftLogo {
		width:15%;
		padding-top:20px;
	}
	.ftInner .ftText {
		width:85%;
	}
	/*모바일 메뉴 */
	#header .headInner, .section1 .stWrap, .section2 .stWrap, .section3 .stWrap {
		width:100%;
	}
	.mainMenu, .searchBox, .loginBox, .signUp  {
		display:none;
	}
	.logCon .logOn {
		display:none;
	}
	.loginInner {
		width:96%;
		margin-left:0;
		left:2%;
	}
	#m_know {
		width:250px;
		display:block;
		background-color:#ddd;
		position:fixed;
		top:56px;
		right:-250px;
		z-index:1004;
		height:100%;
		overflow:auto;
	}
	#m_know .title {
		border-bottom:3px dashed #eee;
		padding:10px;
	}
	#m_know .ht {
		padding:10px;
		font-size:14px;
	}
	#m_mainMenu .menuTitle {
		padding:17px 13px;
		background-color:#fff;
		color:#2e2e2e;
	}
	#m_mainMenu .closeBtn img {
		width:16px;
	}
	#m_mainMenu {
		width:250px;
		display:block;
		position:fixed;
		top:55px;
		right:-100%;
		z-index:1004;
		height:100%;
		overflow:auto;
		background-color:#004a27;
	}
	#m_mainMenu ul {
		overflow:auto;
	}
	#m_mainMenu .subMenu {
		width:auto;
	}
	#m_mainMenu .subMenu li a, #m_mainMenu .deph li a{
		background-color:#428263;
		color:#fff;
		padding-left:20px;
		font-size:12px;
		border:none;
	}
	#m_mainMenu .subMenu li a:hover {
		color:#333;
	}
	#m_mainMenu li > a{
		display:block;
		font-size:13px;
		padding:13px;
		position:relative;
		color:#fff;
	}
	#m_mainMenu li .m_nav_btn {
		background:url("../images/layout/m_arrow_bot.png") no-repeat 220px;
		background-size:13px 10px;
		border-bottom:1px solid #fff;
	}
	#m_mainMenu li a.on {
		background:url("../images/layout/m_arrow_top.png") no-repeat 220px;
		background-size:13px 10px;
		border-bottom:none;
	}
	#m_mainMenu .m_home .homeBox {
		padding:20px;
		background-color:#eee;
		margin-bottom:1px;
	}
	#m_mainMenu .m_home .homeL, #m_mainMenu .m_home .homeR {
		width:50%;
		float:left;
	}
	#m_mainMenu .m_home .homeBox:after {
		content:"";
		display:block;
		clear:both;
	}
	#m_mainMenu .m_home .homeL img{
		border-radius:55px;
	}
	#m_mainMenu .m_home .homeR {
		padding:30px 0 0 10px;
	}
	#m_mainMenu .m_home .homeR p {
		padding-bottom:5px;
		font-size:13px;
	}
	#m_mainMenu .m_home .homeR .dy {
		font-size:12px;
		color:#666;
	}
	#m_mainMenu .deph {
		display:none;
	}
	#m_mainMenu .homeBox {
		display:block;
	}
	#m_mainMenu .m_home .homeR .homeBtn {
		font-size:12px;
		margin-top:10px;
		cursor:pointer;
	}
	#m_mainMenu .topTitle {
		position:relative;
		overflow:hidden;
	}
	#m_mainMenu .closeBtn {
		position:absolute;
		right:15px;
		top:6px;
		font-size:26px;
		cursor:pointer;
	}
	/*
	#header .headInner:before {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:300px;
		height:300px;
	}
	*/
	.headL, .headR {
		float:none;
	}
	.headL {
		height:100%;
	}
	.headR {
		position:static;
		width:100%;
	}
	.headR .searchBox {
		width:100%;
		display:none;
		line-height:normal;
	}
	.searchBox .searchBtn img {
		top:16px;
		right:20px;
	}
	.headR .searchBox label {
		display:block;
	}
	.headR .searchBox input {
		width:100%;
		border-radius:0;
	}
	.headR .searchBox {
		margin-right:0;
		padding:10px;
		background-color:#eee;
	}
	#header h1 img {
		padding-left:20px;
	}
	#header .headInner {

	}
	.m_menu_btn {
		display:block;
		position:absolute;
		right:27px;
		top:27px;
		font-size:20px;
		cursor:pointer;
		color:#666;
	}
	.m_signUp, .m_loginBox {
		float:left;
	}
	.mainMenu {
		padding-right:0;
		display:none;
	}
	.mainMenu ul li {
		width:100%;
	}
	.subMenu {
		position:static;
		background-color:transparent;
	}
	.subMenu li a {
		color:#666;
	}
	.subMenu:after {
		display:none;
		clear:none;
	}
	.mainMenu ul:after {
		display:none;
	}
	.homeMenu {
		display:block !important;
	}
}
@media all and (max-width:767px) {
	#m_mainMenu {
		top:30px;
	}
	#header h1 img {
		width:75px;
		padding-top:7px;
		padding-left:0;
	}
	#header .headInner {
		height:50px;
		padding-top:5px;
		padding-left:10px;
	}
	#header .tnb .homeBtn img {
		width:18px;
	}
	#header .tnb {
		height:30px;
		border-bottom:2px solid #004a27;
	}
	#header .tnb .homeBtn {
		margin-top:3px;
	}
	#header .tnbInner a {
		font-size:11.5px;
	}
	#header .logBox {
		line-height:normal;
	}
	.m_title {
		display:block;
		position:absolute;
		left:50%;
		top:17px;
		font-size:16px;
	}
	.m_menu_btn img{
		width:20px;
	}
	.m_menu_btn {
		display:block;
		position:absolute;
		right:15px;
		top:18px;
		font-size:20px;
		cursor:pointer;
		color:#666;
	}
	.ftInner .ftLogo img {
		width:50px;
	}
}
