@charset "utf-8";
#conWrap:after, #content .tabMenu:after, #content .galleryWrap .searchBox:after, #content .glInner ul:after, #content .pageing .innerBox:after, #content table.tbInsert01 .item02 .innerBox01 {
  content:"";
  display:block;
  clear:both;
}
body {
  overflow:hidden;
}
input[type="radio"], input[type="checkbox"] {
  margin-top:0;
}
.quick {
  top:100px;
}
#container {
  background:url("../images/page/sub_bg.png") no-repeat right bottom;
}
.contentBoxSub {
  position:relative;
  padding-right:20px;
  box-sizing: border-box;
}
#header .headWrap {
  background:#fff;
}
#header .tnb {
  background:rgba(0, 81, 40, 0.7);
}
#visual {
  width:100%;
  height:210px;
  margin-top:142px;
}
.visual01 {
  background:url("../images/page/subVisual_bg.jpg") no-repeat;
  background-size:cover;
}
#lnb, #content {
  float:left;
}
#lnb {
  width:256px;
  padding-right:25px;
  box-shadow:6px 0px 4px -1px #bdbdbd;
}
#content {
  width:844px;
  box-sizing:border-box;
}
#conWrap {
  width:1100px;
  margin:0 auto;
}
#lnb h2 {
  font-size:29px;
  font-weight:700;
  padding-top:65px;
}
#lnb .lnbBox {
  padding-top:80px;
}
#lnb .lnbBox a {
  font-size:18px;
  display:block;
  padding:15px 0 15px 8px;
}
#lnb .lnbBox .on {
  color:#2d702a;
  border:1px solid #2d702a;
  font-weight:700;
}
#content {
  padding-left:40px;
  padding-bottom:200px;
}
#content .position {
  text-align:right;
  color:#7c7c7c;
  font-size:15px;
  padding-top:17px;
}
#content .position span {
  margin-right:8px;
}
#content h3 {
  font-size:24px;
  color:#373737;
  font-weight:700;
  padding-top:40px;
}
#content .tabMenu {
  padding-top:40px;
  border-bottom:1px solid #b7b7b7;
}
#content .tabMenu li {
  float:left;
  font-size:15px;
  font-weight:700;
  border-top:1px solid #b7b7b7;
  border-left:1px solid #b7b7b7;
  border-right:1px solid #b7b7b7;
  margin-right:14px;
  margin-top:10px;
  background-color:#f4f4f4;
}
#content .tabMenu button {
  padding:12px 29px;
}
#content .tabMenu li.on {
  margin-top:0;
  padding:5px 8px;
  background-color:#fff;
}
#content .tabMenu li.on button {
  padding-left:47px;
  background:url("../images/page/subTab_icon.png") no-repeat 27px;
  color:#0c9d46;
}
#content .tabContent {
  padding:50px 0 0 44px;;
}
#content .tabContent h4 {
  font-size:23px;
  font-weight:700;
  color:#373737;
  padding-bottom:20px;
  position:relative;
  padding-left:15px;
}
#content .tabContent h4:before {
  content:"";
  display:block;
  width:6px;
  height:26px;
  background-color:#000;
  position:absolute;
  left:0;
}
#content .tabContent .profile {
  padding:55px 0 65px 0;
}
#content .tabContent .profile p {
  font-size:18px;
  padding-bottom:10px;
}
#content .conInner .topTitle {
  padding-top:75px;
}
#content .conInner .text01 {
  padding-top:45px;
  line-height:30px;
  color:#373737;
}
#content .conInner .text02 {
  padding-top:85px;
  color:#373737;
  line-height:30px;
}
#content table.tb01 td, #content table.tb01 th{
  text-align:center;
  background:#f5f5f5;
  line-height:40px;
  vertical-align:middle;
}
#content table.tbDepth2 td, #content table.tbDepth2 th {
  background:#eaedea;
  color:#2d2b2b;
}
#content table.tb01 tr {
  border-bottom:1px solid #b7b7b7;
}
#content table.tbDepth2 tr {
  border-bottom:1px solid #e1e1e1;
}
#content .tabContentT {
  padding-left:0;
}
#content table.tb01 .second {
  background-color:#fff;
}
#content table.tb01 {
  border-top:3px solid #2d702a;
}
#content table.tb01 .depthText2 {
  padding:40px 50px 40px 20px;
  line-height:20px;
  text-align:left;
}
#content .galleryWrap .searchBox {
  text-align:right;
  padding-top:10px;
}
#content .galleryWrap .searchBox select, #content .galleryWrap .searchBox .searchInput {
  display:inline-block;
  height:27px;
}
#content .galleryWrap .searchBox input {
  height:27px;
  width:250px;
  padding:0 52px 0 10px;
}
#content .galleryWrap .searchInput {
  position:relative;
}
#content select {
  width:138px;
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none;    /* 화살표 없애기 for firefox*/
  -ms-appearance: none;
  appearance: none;         /* 화살표 없애기 공통*/
  background:url("../images/common/arrow_bot.png") no-repeat top right;
  padding-left:5px;
}
#content select::-ms-expand {
  display:none;
}
#content .galleryWrap .searchBox button {
  background-color:#005128;
  color:#fff;
  position:absolute;
  top:0;
  right:0;
  width:52px;
  height:27px;
  font-size:13px;
}
#content .glInner {
  padding-top:18px;
}
#content .glInner li {
  float:left;
  margin-bottom:13px;
  position:relative;
  width:49%;
  height:172px;
  background-size:cover !important;
}
#content .glInner li:nth-child(2n) {
  margin-left:2%;
}
#content .glInner .glTextBox {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  background:rgba(0,0,0,0.6);
  padding:20px 50px 20px 20px;
}
#content .glInner .glTextBox span {
  display:block;
}
#content .glInner .glTextBox a {
  color:#ffd322;
}
#content .glInner .glTextBox .titleEng {
  font-size:12px;
  padding-top:10px;
}
#content .glInner .glTextBox .date {
  color:#fff;
  padding-top:50px;
}
#content .pageing {
  text-align:center;
  padding-top:45px;
  width:100%;
  margin:0 auto;
}
#content .pageing .innerBox {
  width:250px;
  margin:0 auto;
}
#content .pageing button{
  width:24px;
  height:24px;
  border:1px solid #c2c2c2;
  font-size:13px;
  color:#2b2b2b;
  margin-left:10px;
  float:left;
}
#content .pageing .on {
  color:#fff;
  background:#005128;
}
#content input[type="text"],#content input[type="password"], #content select {
  border:1px solid #acacac;
}
#content .pageing .btnL {
  background:url("../images/common/arrow_left.png") no-repeat 7px;
}
#content .pageing .btnR {
  background:url("../images/common/arrow_right.png") no-repeat 7px;
}
#content .tbInsert01 .second {
  text-align:left;
  padding:25px 35px;
}
#content table.tbInsert01 input, #content table.tbInsert01 select {
  height:26px;
}
#content table.tbInsert01 td {
  text-align:left;
  padding-left:30px;
}
#content table.tbInsert01 td {
  line-height:24px;
}
#content table.tbInsert01 .star {
  color:#ff0000;
  margin-right:3px;
  font-size:15px;
}
#content table.tbInsert01 select {
  background:url("../images/common/arrow_bot02.png") no-repeat top right;
}
#content table.tbInsert01 label {
  font-weight:100;
}
#content table.tbInsert01 .item02 label {
  padding:0 30px 0 10px;
}
#content table.tbInsert01 .item02 .innerBox01 div{
  float:left;
}
#content table.tbInsert01 .item03 input {
  width:135px;
}
#content table.tbInsert01 .item03 label {
  padding:0 10px 0 10px;
}
#content table.tbInsert01 .item03 label:first-child {
  padding-left:0;
}
#content table.tbInsert01 .item05 label {
  padding:0 30px 0 5px;
}
#content table.tbInsert01 .item05 label:first-child {
  padding-left:0;
}
#content table.tbInsert01 .item07 input {
  width:310px;
}
#content table.tbInsert01 .item08 input,
#content table.tbInsert01 .item09 input,
#content table.tbInsert01 .item10 input  {
  width:60px;
}
#content table.tbInsert01 .item10 .btnBox {
  position:relative;
  display:inline-block;
}
#content table.tbInsert01 .item10 button {
  background-color:#2d702a;
  color:#fff;
  padding:1px 10px;
  font-size:14px;
  position:absolute;
  top:0;
  right:-80px;
}
#content table.tbInsert01 .item10 p {
  padding-bottom:10px;
}
#content table.tbInsert01 .item10 .adress input {
  width:400px;
}
#content table.tbInsert01 .item12 {
  padding:0;
}
#content table.tbInsert01 .item12 p {
  border-bottom:1px solid #e1e1e1;
  padding:15px 0px 15px 35px;
}
#content table.tbInsert01 .item12 label {
  padding:0 30px 0 5px;
}
#content .submitBtnBox {
  text-align:right;
  padding-top:30px;
}
#content .submitBtnBox button {
  display:inline-block;
  color:#fff;
}
#content .submitBtnBox .submitBtn {
  background-color:#2d702a;
  padding:10px 30px;
  margin-right:5px;
}
#content .submitBtnBox .cancel {
  background-color:#c9c9c9;
  padding:10px 30px;
}
#content .tabContent .tSize01 {
  width:15%;
}
#content .tabContent .tSize02 {
  width:85%;
}
.sizeM #content .tabContent .tSize01 {
  width:40%;
}
.sizeM #content .tabContent .tSize02 {
  width:60%;
}
@media all and (max-width:1100px) {
  #lnb, .quick {
    display:none;
  }
  #header .headWrap {
    background-color:#f1f1f1;
  }
  .contentBoxSub {
    padding-right:0;
  }
  #content, #conWrap {
      width:100%;
  }
  #content {
    padding:0 15px 50px 15px;
  }
  #content .tabMenu button {
    padding:12px 15px;
  }
  #content .tabMenu li.on button {
    padding-left:22px;
    background:url("../images/page/subTab_icon.png") no-repeat 5px
  }
  #content .tabContent {
    padding:20px 0 0 0;
  }
  #content table.tbInsert01 td {
    padding-left:10px;
  }
  #content table.tbInsert01 .item10 button {
    position:static;
    height:26px;
    font-size:11px;
    margin-left:5px;
  }
  #content .tbInsert01 td span{
    display:block;
  }
  #content table.tbInsert01 .item02 .innerBox01 div {
    float:none;
  }
  #content table.tbInsert01 .mtmb10 {
    margin:10px 0;
  }
  #content table.tbInsert01 .star {
    display:inline;
  }
  #content .galleryWrap .searchBox {
    display:block;
    text-align:left;
  }
  #content table.tbInsert01 input, #content table.tbInsert01 select {
    height:auto;
    border:1px solid #acacac;
  }
  #content table.tbInsert01 .item04 span {
    display:inline;
  }
}
@media all and (max-width:767px) {
  #visual {
    margin-top:81px;
    height:80px;
  }
  #content .position {
    font-size:12px;
  }
  #content h3 {
    padding-top:20px;
    font-size:20px;
  }
  #content .tabMenu button {
    font-size:11px;
    padding:12px 5px;
  }
  #content .tabMenu li {
    margin-right:8px;
  }
  #content table.tb01 td, #content table.tb01 th {
    font-size:12px;
  }
  #content .tabContent .profile {
    padding-bottom:0;
  }
  #content table.tbInsert01 .item10 .adress input {
    width:80%;
  }
  #content table.tbInsert01 .item07 input {
    width:100%;
  }
  #content table.tbInsert01 .item08 input, #content table.tbInsert01 .item09 input, #content table.tbInsert01 .item10 input {
    width:23%;
    border:1px solid #acacac;
  }
  #content table.tbInsert01 .item03 label {
    padding:0;
    padding-right:10px;
  }
  #content table.tbInsert01 .item10 button {
    right:-20px;
  }
  #content table.tbInsert01 .item12 label {
    padding-right:5px;
  }
  #content .tbInsert01 .second {
    padding:25px;
  }
  #content table.tbInsert01 .item12 p {
    padding:15px 0px 15px 15px;
  }
  #content .glInner li {
    width:100%;
  }
  #content .glInner li:nth-child(2n) {
    margin-left:0;
  }
  #content .searchBox select {
    width:90px;
  }
  #content .galleryWrap .searchBox input {
    width:190px;
  }
  #content .tabMenu {
    padding-top:20px;
  }
  #content .conInner .text01 {
    font-size:12px;
  }
  #content .conInner .text02 {
    padding-top:15px;
    font-size:14px;
  }
  #content .tabContent .profile p {
    font-size:12px;
  }
  #content .tabContent h4:before {
    height:20px;
  }
  #content .tabContent h4 {
    font-size:18px;
  }
  #content .tabContent .profile {
    padding-top:20px;
  }
  #content table.tbInsert01 .mt10 {
    margin-top:10px;
  }
  #content table.tbInsert01 .item04 span {
    display:block;
  }
}
