@charset "utf-8";
* {
	font-family:'Nanum Barun Gothic';
}
html {
}
.banner {
  margin-top:56px;
  background:#ddd;
  background-size:cover;
  height:40px;
  width:100%;
  margin-top:56px;
}
.banner p {
  text-align:center;
  color:#fff;
  font-size:20px;
  line-height:40px;
}
#header {
  height:56px;
  width:100%;
  position:fixed;
  top:0;
	left:0;
  background-color:#fff;
  border-bottom:1px solid #eee;
  z-index:101;
}
#header .headInner {
  width:1170px;
  margin:0 auto;
  position:relative;
}
#header h1 {
  display:inline-block;
}
.headOn {
  position:fixed;
}
#header h1 a{
  display:block;
  text-decoration:none;
  color:#333;
  font-weight:700;
}
.gnb {
  float:left;
  padding-left:40px;
  display:none;
}
.gnb:after, .category:after, .infoBox:after, .designList:after, #header .headInner:after {
  content:"";
  display:block;
  clear:both;
}
.gnb li {
  float:left;
  line-height:56px;
  padding:0 15px;
}
.gnb li a:hover {
  color:#ddd;
}
.mainMenu {
	float:left;
	padding-right:30px;
}
.mainMenu ul:after {
	content:"";
	display:block;
	clear:both;
}
.mainMenu ul li {
	float:left;
}
.mainMenu a {
	display:block;
	padding:21px 15px;
	font-weight:700;
	font-size:14px;
}
.subMenu:after {
	content:"";
	display:block;
	clear:both;
	position:absolute;
	top:-3px;
	left:0;
	width:100px;
	height:4px;
	background-color:#666;
}
.subMenu {
	display:none;
	position:absolute;
	width:200px;
	background-color:#a47760;
}
.subMenu li {
	width:100%;
}
.subMenu li a {
	padding:15px;
	font-size:12px;
	display:block;
	position:relative;
	color:#fff
}
.subMenu li a:hover, .subMenu li a:focus {
	color:#fff;
	background-color:#906957;
}
.headR {
  display:inline-block;
  position:absolute;
  right:0;
  top:0;
}
.headR .searchBox {
  float:left;
  line-height:56px;
  margin-right:20px;
  position:relative;
}
.searchBox select {
	position:absolute;
	left:3px;
	top:20px;
	border:none;
	width:70px;
}
.headR .searchBox input {
  line-height:normal;
  border-radius:5px;
  width:200px;
  color:#777;
  text-indent:5px;
  outline:none;
  border:1px solid #ddd;
  box-sizing:border-box;
  padding:5px 20px 5px 70px;
}
.searchBox .searchBtn img{
  position:absolute;
  top:21px;
  right:10px;
}
.headR .searchBox a {
  color:#fff;
}
.headR .loginBox {
  float:left;
  line-height:56px;
}
.headR .loginBox a{
  padding-right:15px;
  display:inline-block;
  font-size:12px;
}
.headR .logOn {
	display:none;
}
.headR .logOn:after {
	content:"";
	display:block;
	clear:both;
}
.headR .logOn .pcBell, .headR .logOn .myInformation {
	float:left;
	position:relative;
}
.headR .myInfoBtn {
	line-height:60px;
	padding:5px 10px;
	border:1px solid #ddd;
	font-size:13px;
}
.headR .logOn .pcBell {
	padding-right:20px;
	position:relative;
}
.headR .logOn .pcBell i {
	font-size:21px;
	line-height:60px;
	cursor:pointer;
}
.headR .bellBox {
	position:absolute;
	top:56px;
	right:5px;
	width:290px;
	background-color:#f1f1f1;
	padding:15px;
}
.headR .bellBox, .headR .myInfoList {
	display:none;
}
.headR .logCon {
	float:left;
}
.headR .logCon:after {
	content:"";
	display:block;
	clear:both;
}
.headR .myInfoList {
	position:absolute;
	top:56px;
	right:0;
	background-color:#f1f1f1;
}
.headR .myInfoBtn i {
	padding-left:5px;
}
.headR .myInfoList li a {
	padding:10px;
	width:150px;
	display:block;
	font-size:14px;
}
.signUp a {
	font-size:12px;
	display:block;
}
.headR .loginBox a i {
  font-size:19px;
  padding-left:5px;
}
.signUp {
  float:left;
  line-height:56px;
}
.signUp a i {
  margin-left:5px;
}
.keyword {
  border-top:1px solid #eee;
  padding:20px 0;
}
.keyword input {
  outline:none;
  border:none;
  border-bottom:1px solid #ddd;
  text-indent:5px;
}
#footer {
  width:100%;
  background:rgba(255,255,255,0.7);
  padding:20px 0;
  color:#444;
	border-top:1px solid #f1f1f1;
}
#footer .ftInner {
  width:1170px;
  margin:0 auto;
	font-size:13px;
}
#footer .ftInner p {
	padding-bottom:5px;
}
#footer .copylight {
  display:inline-block;
}
#footer .fnb {
  display:inline-block;
  padding-left:20px;
}
#footer .fnb:after {
  content:"";
  display:block;
  clear:both;
}
#footer .fnb li {
  display:inline-block;
  padding-right:10px;
}
#skipNav {
	text-align:center;
	position:relative;
	z-index:9999;
}
#skipNav a {
	color:#fff;
	display:block;
	height:1px;
	width:1px;
	margin-bottom:-1px;
	overflow:hidden;
	font-size:20px;
	white-space:nowrap;
	text-align:center;
	background-color:#333;
}
#skipNav a:focus, #skipNav a:active {
	height:auto;
	width:100%;
	padding:5px;
	margin-bottom:10px;
	position:fixed;
	left:0;
	top:0;
}
.loginWrap {
	position:absolute;
	top:200px;
	width:100%;
	display:none;
}
.loginInner {
	margin:0 auto;
	z-index:1004;
	position:fixed;
	left:50%;
	width:400px;
	margin-left:-200px;
	background-color:#fff;
	min-height:353px;
	box-shadow:1px 1px 2px 0px lightgrey;
	border:1px solid #ccc;
}
.contentBox {
	width:300px;
	margin:0 auto;
	padding:10px 0;
}
.loginWrap .step2, .loginWrap .step3 {
	display:none;
}
.loginInner .title{
	background-color:#ddd;
	text-align:center;
	padding:10px 0;
	position:relative;
}
.loginInner .title i {
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.loginInner .title .fa-chevron-left {
	position:absolute;
	top:12px;
	left:10px;
	right:auto;
	cursor:pointer;
	font-size:14px;
}
.loginInner .naver, .loginInner .facebook {
	text-align:center;
	padding-top:0px;
}
.loginInner .naver a, .loginInner .facebook a {
	display:inline-block;
	padding:10px 15px;
	color:#fff;
	width:300px;
}
.loginInner .naver a{
	background:#00c63b url("../images/main/naver.png") no-repeat 6px;
}
.loginInner .facebook a{
	background:#3b5998 url("../images/main/facebook.png") no-repeat;
}
.loginInner .br {
	text-align:center;
}
.loginInner div {
	text-align:center;
	margin-bottom:15px;
}
.loginInner .ct a {
	font-size:13px;
}
.loginWrap a {
	border:1px solid #ccc;
}
.loginInner form input {
	display:block;
	margin:0 auto;
	width:300px;
	height:34px;
	padding-left:10px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
.loginInner form .like input {
	width:auto;
	height:auto;
	padding:0;
	margin:0;
	display:unset;
}
.loginInner form .like ul:after {
	content:"";
	display:block;
	clear:both;
}
.loginInner form .like li {
	width:50%;
	float:left;
	text-align:left;
	padding-bottom:5px;
}
.loginInner form .like label {
	padding-left:10px;
}
.loginInner form .sectors, .loginInner form .sectors div {
	text-align:left;
}
.loginInner .sectors select {
	width:100%;
	height:34px;
}
.loginInner .sectors .stTitle {
	padding-bottom:5px;
}
.loginInner .logBtn {
	width:300px;
	display:block;
	margin:0 auto;
	height:36px;
	background-color:#906957;
	color:#fff;
	line-height:36px;
}
.loginInner .find {
	padding-top:10px;
}
.loginInner .find .pw_find {
	margin-right:30px;
}
.loginInner .find a {
	font-size:13px;
}
.loginInner .state {
	background-color:#eee;
	margin:0;
	padding:10px 0;
}
.loginInner .state label {
	display:inline-block;
	padding-left:5px;
	font-size:14px;
}
.loginInner .state input {
	margin-top:0;
}
.loginWrap .step2 p, .loginWrap .step3 p {
	font-size:12px;
	padding-bottom:10px;
}
.loginWrap .step2 .email input {
	display:block;
	width:300px;
	margin:0 auto;
	height:34px;
	padding-left:10px;
}
.loginWrap .step2 .set a, .loginWrap .step3 .close a {
	width:300px;
	display:block;
	height:36px;
	line-height:36px;
	background-color:#906957;
	color:#fff;
	font-size:14px;
}
.loginInner .likeTitle {
	text-align:left;
}
.signForm {
	position:absolute;
	top:200px;
	width:100%;
}
.signForm .signWrap {
	width:300px;
	margin:0 auto;
}
.signForm .userSlect:after {
	display:block;
	content:"";
	clear:both;
}
.signForm .userSlect {
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
}
.signForm .userSlect a{
	float:left;
	width:49%;
	box-sizing:border-box;
	font-size:14px;
	height:36px;
	line-height:36px;
	color:#fff;
}
.signForm .userSlect .design {
	background-color:#ffabab;
	margin-right:2%;
}
.signForm .userSlect .company {
	background-color:#cabed8;
}
.signForm .ct .normal a {
	font-size:13px;
	padding:10px 15px;
	background-color:#906957;
	width:300px;
	color:#fff;
	display:block;
}
.signForm .check input {
	width:auto;
	display:inline-block;
	padding:0;
	height:auto;
}
.signForm .check .box2 {
	position:relative;
}
.signForm .check .detail {
	position:absolute;
	right:0;
	top:0;
}
.signForm .check .detail a{
	font-size:12px;
	padding:5px 10px;
	background-color:#666;
	color:#fff;
}
.signForm .check label {
	font-size:14px;
}
.signForm .urlValue, .signForm .check div {
	text-align:left;
}
.signForm .signUpBtn a{
	font-size:14px;
	padding:10px 15px;
	background-color:#906957;
	width:100%;
	color:#fff;
	display:block;
}
.signForm .signStep1, .signForm .signStep2, .signForm .signStep3 {
	display:none;
}
.signForm .urlValue {
	font-size:13px;
}
.m_mainMenu, .m_menu_btn, .m_search, .m_bell, .m_loginBox, .m_signUp, .m_know {
	display:none;
}
.bg {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:1000;
  display:none !important;
}
#subBanner {
	background:url("../images/common/sub_bg.jpg") no-repeat;
	background-size:cover;
	width:100%;
	height:150px;
}
@media screen and (min-width:768px) and (max-width:1199px){
	.designList .listBox, .company .designList .listBox {
		width:46%;
	}
}
@media all and (max-width:1200px) {
	#header .headInner {
		width:100%;
	}
	.mainMenu a {
		padding:21px 10px;
		font-size:13px;
	}
	.ftInner {
		padding:0 15px;
		text-align:center;
	}
}
@media all and (max-width:1028px) {
	#header {
		z-index:1004;
	}
	#header .headInner, .section1 .stWrap, .section2 .stWrap, .section3 .stWrap {
		width:100%;
	}
	.mainMenu, .searchBox, .loginBox, .signUp  {
		display:none;
	}
	.logCon .logOn {
		display:none;
	}
	.loginInner {
		width:96%;
		margin-left:0;
		left:2%;
	}
	.m_know {
		width:250px;
		display:block;
		background-color:#ddd;
		position:fixed;
		top:56px;
		right:-250px;
		z-index:1004;
		height:100%;
		overflow:auto;
	}
	.m_know .title {
		border-bottom:3px dashed #eee;
		padding:10px;
	}
	.m_know .ht {
		padding:10px;
		font-size:14px;
	}
	.m_mainMenu {
		width:250px;
		display:block;
		background-color:#ddd;
		position:fixed;
		top:56px;
		left:-250px;
		z-index:1004;
		height:100%;
		overflow:auto;
	}
	.m_mainMenu ul {
		height:100%;
		overflow:auto;
	}
	.m_mainMenu .subMenu {
		width:auto;
	}
	.m_mainMenu .subMenu li a, .m_mainMenu .deph li a{
		background-color:#eee;
		padding-left:20px;
		font-size:12px;
		color:#666;
	}
	.m_mainMenu .subMenu li a:hover {
		color:#333;
	}
	.m_mainMenu li a{
		border-bottom:1px solid #eee;
	}
	.m_mainMenu li a{
		display:block;
		font-size:13px;
		padding:13px;
	}
	.m_mainMenu .m_home .homeBox {
		padding:20px;
		background-color:#eee;
		margin-bottom:1px;
	}
	.m_mainMenu .m_home .homeL, .m_mainMenu .m_home .homeR {
		width:50%;
		float:left;
	}
	.m_mainMenu .m_home .homeBox:after {
		content:"";
		display:block;
		clear:both;
	}
	.m_mainMenu .m_home .homeL img{
		border-radius:55px;
	}
	.m_mainMenu .m_home .homeR {
		padding:30px 0 0 10px;
	}
	.m_mainMenu .m_home .homeR p {
		padding-bottom:5px;
		font-size:13px;
	}
	.m_mainMenu .m_home .homeR .dy {
		font-size:12px;
		color:#666;
	}
	.m_mainMenu .deph {
		display:none;
	}
	.m_mainMenu .homeBox {
		display:block;
	}
	.m_mainMenu .m_home .homeR .homeBtn {
		font-size:12px;
		margin-top:10px;
		cursor:pointer;
	}
	#header .headInner {
		height:56px;
	}
	#header {
		position:fixed;
		left:0;
		height:56px;
	}
	.headL {
		text-align:center;
		height:100%;
	}
	.headR {
		position:static;
		width:100%;
	}
	.headR .searchBox {
		width:100%;
		display:none;
		line-height:normal;
	}
	.searchBox .searchBtn img {
		top:16px;
		right:20px;
	}
	.headR .searchBox label {
		display:block;
	}
	.headR .searchBox input {
		width:100%;
		border-radius:0;
	}
	.headR .searchBox {
		margin-right:0;
		padding:10px;
		background-color:#eee;
	}
	#header h1 img {
		width:150px;
		padding-top:10px;
	}
	.m_menu_btn {
		display:block;
		position:absolute;
		left:15px;
		top:18px;
		font-size:20px;
		cursor:pointer;
		color:#666;
	}
	.m_bell {
		display:block;
		position:absolute;
		top:18px;
		right:45px;
		font-size:20px;
		color:#666;
		cursor:pointer;
	}
	.m_search {
		display:block;
		position:absolute;
		top:18px;
		right:15px;
		font-size:20px;
		color:#666;
		cursor:pointer;
	}
	.searchBox {
		display:none;
	}
	.searchBox select {
		left:14px;
		top:16px;
	}
	.searchBox .searchBtn {
		top:16px;
		right:18px;
	}
	.m_signUp, .m_loginBox {
		float:left;
	}
	.mainMenu {
		padding-right:0;
		display:none;
	}
	.mainMenu ul li {
		width:100%;
	}
	.subMenu {
		position:static;
		background-color:transparent;
	}
	.subMenu li a {
		color:#666;
	}
	.subMenu:after {
		display:none;
		clear:none;
	}
	.mainMenu ul:after {
		display:none;
	}
	.homeMenu {
		display:block !important;
	}
	#footer .ftInner {
		width:100%;
	}
	#footer {
		position:static;
	}
	.bx-wrapper img, .section1 .newsSlider li {
		height:auto !important;
	}
}
