@charset "utf-8";

@font-face {
    font-family:'NanumGothicCoding';
    src:url('../../font/NanumGothicCoding.ttf');
}
@font-face {
    font-family:'NanumGothicCodingB';
    src:url('../../font/NanumGothicCoding-Bold.ttf');
}
/* ---------------------------------------- */
/* GENERAL
/* ---------------------------------------- */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
::after,::before{display:block;}
a, button{text-decoration:none;border:none;background:none;cursor:pointer; 
    webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; -o-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }
input, textarea{ -webkit-appearance:none;-webkit-border-radius:0; }
html, body { width: 100%; background:#f5f5f5; font-family:'NanumGothicCoding'; }
body{ overflow-x:hidden; margin:0;}



/* ---------------------------------------- */
/* Common
/* ---------------------------------------- */
*:focus { outline: none !important; }

h1 { font-size: 2.5rem; }
h5 { font-size: 1.1rem; }



/* ---------------------------------------- */
/* CONTENT
/* ---------------------------------------- */
.wrapper { position: relative; width: 100%; font-size: 12px; color: #333; line-height: 18px; }

.receipt_wrap { 
    position: absolute; 
    top:0; 
    left:50%; 
    transform:translateX(-50%); 
    margin: 0 auto; 
    padding:10px; 
    background: linear-gradient(-135deg, #f5f5f5 5px, transparent 0) 0 5px, linear-gradient(135deg, #f5f5f5, 5px, #fff 0) 0 5px;
    background-color: #fff;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    margin:10px 0 20px 0;
}

.contents_box { 
    position: relative; 
    width: 100%; 
    background-color: #fff; 
    margin:0 auto; 
}
.contents_box:after { content: ''; position: absolute; bottom: 0; width: 100%; }
.contents_box h1 { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 5px solid #333; }
.contents_box article { padding-bottom: 20px; width: 100%; border-bottom: 2px dashed #ddd; }

.list_box { display: table; position: relative; width: 100%; margin-top:20px; }
.list_box > div { display: table-cell; width: 50%; vertical-align: top; }
.list_box p { line-height: 22px; }
.list_box i-listbox { border: 0; }
.list_box i-listbox .item { padding: 0.2em 0.2em 0.3em; white-space: pre-wrap; }

.list_box.result i-listbox { font-size: 1.8rem; color: #333; font-weight: bold; }
.list_box.result i-listbox .item { padding-left: 0; padding-right: 0; }

.greeting_txt { margin: 20px 0; text-align: center; }

.barcord_box { position: relative; margin: 0 auto; height: 50px; overflow: hidden; }
.barcord_box li { display: inline-block; min-width: 2px; height: 50px; }
.barcord_box li.type1 { width: 3px; }
.barcord_box li.type2 { width: 4px; }
.barcord_box li.type3 { width: 5px; }
.barcord_box li.type4 { width: 7px; }
.nocList { 
    border-top: 1px dashed #333;
    border-width: 1px;
    line-height: 0;
    margin: 10px 0; 
}
#bcTarget, #bcTarget1, #bcTarget2 { margin:10px auto; margin-bottom:0; }
#bcTarget > div, #bcTarget1 > div, #bcTarget2 > div { background:#fff !important; }
#recpImg { text-align:center; padding-top:10px; }
#recpImg img { width:190px; }
#botText { text-align:center; padding:10px 0;}
pre { margin:0 auto; letter-spacing:0; font-family:'NanumGothicCoding'; }
.gbnList1 { font-family:'NanumGothicCodingB'; }
.gbnList2 { white-space: normal; text-align:center; }
.gbnList3 { white-space: normal; text-align:center; font-family:'NanumGothicCodingB'; }
.gbnList4 { white-space: normal; text-align:right; }
.gbnList5 { white-space: normal; text-align:right; font-family:'NanumGothicCodingB'; }
.gbnList16 { line-height:25px; transform:scale(1,2); margin:5px 0; }
.gbnList17 { line-height:25px; transform:scale(1,2); margin:5px 0; font-family:'NanumGothicCodingB'; }
.gbnList18 { line-height:25px; transform:scale(1,2); margin:5px 0; white-space: normal; text-align:center; }
.gbnList19 { line-height:25px; transform:scale(1,2); margin:5px 0; white-space: normal; text-align:center; font-family:'NanumGothicCodingB'; }
.gbnList20 { line-height:25px; transform:scale(1,2); margin:5px 0; white-space: normal; text-align:right; }
.gbnList21 { line-height:25px; transform:scale(1,2); margin:5px 0; white-space: normal; text-align:right; font-family:'NanumGothicCodingB'; }
.bldList { font-family:'NanumGothicCodingB'; }
.verList { line-height:25px; transform:scale(1,2); margin:5px 0; }
.vblList { font-family:'NanumGothicCodingB'; line-height:25px; transform:scale(1,2); margin:5px 0; }
.receipt_wrap { display:none; }

