<!DOCTYPE html>
<html lang="ko" class="no-js">

<head>
  <title>건국대학교 생활체육학과</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- // 브라우저 안내 END -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="../../static/css/reset.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/common.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/jquery.bxslider.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/font.css" />
  <!--[if lt IE 9]>
	<link type="text/css" rel="stylesheet" href="../../static/css/ie9.css"/>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<script src="../../static/js/selectivizr-min.js"></script>
	<script type="text/javascript" src="../../static/js/respond.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-1.11.1.min.js"></script>
  <![endif]-->
  <!--[if gte IE 9]>
	<script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"></script>
  <![endif]-->
  <!--[if !IE]>-->
  <script type="text/javascript" src="../../static/js/jquery-min.js"></script>
  <!--<![endif]-->
  <style>
    .no-js {
      display: none;
    }
    .mainMenu li:nth-child(5) .depth1 {
      font-weight:700;
    }
    .mainMenu li:nth-child(5) .depth1:after {
      width:80%;
      opacity:1;
    }
  </style>
</head>

<body>
  <!-- 스킵네비게이션 -->
  <div id="skipNav">
    <div><a href="#container" title="">skip to the menu</a></div>
  </div>
  <!-- 스킵네비게이션 END -->
  <div id="wrap">
    <div id="visual" class="visual01">
    </div>
    <!-- 본문영역 -->
    <div id="container">
      <div id="conWrap">
        <div id="lnb">
          <div class="subTitle">
            <h2>커뮤니티 &amp;<br/> 정보광장</h2>
            <div>
              <img src="../../static/images/page/subH2_line.png" alt=""/>
            </div>
          </div>
          <ul class="lnbBox">
            <li>
              <a href="#" title="포토갤러리" class="on">포토갤러리</a>
            </li>
            <li>
              <a href="#" title="기사">기사</a>
            </li>
            <li>
              <a href="#" title="공지사항">공지사항</a>
            </li>
            <li>
              <a href="#" title="자료실">자료실</a>
            </li>
          </ul>
        </div>
        <div id="content">
          <div class="contentBoxSub">
            <div class="conInner">
              <div class="position">
                <span>HOME</span> &gt;&nbsp;
                <span>커뮤니티 &amp; 정보광장</span> &gt;&nbsp;
                <span>포토갤러리</span>
              </div>
              <h3>포토갤러리</h3>
              <div class="galleryWrap">
                <div class="searchBox">
                  <select class="" name="">
                    <option value="제목">제목</option>
                    <option value="내용">내용</option>
                    <option value="글쓴이">글쓴이</option>
                  </select>
                  <div class="searchInput">
                    <input type="text" name="" value="" placeholder="내용을 입력해주세요.">
                    <button type="button" name="button">검색</button>
                  </div>
                </div>
                <div class="glInner">
                  <ul>
                    <li style="background:url('../../static/images/page/gallery_board01.jpg') no-repeat">
                      <div class="glTextBox">
                        <a href="#" title="">
                          <span class="title">[대회]전국대회태권도<br/>선수권대회</span>
                          <span class="titleEng">National Taekwondo<br/>Championships</span>
                          <span class="date">2017 - 11 - 01</span>
                        </a>
                      </div>
                    </li>
                    <li style="background:url('../../static/images/page/gallery_board01.jpg') no-repeat">
                      <div class="glTextBox">
                        <a href="#" title="">
                          <span class="title">[대회]전국대회태권도<br/>선수권대회</span>
                          <span class="titleEng">National Taekwondo<br/>Championships</span>
                          <span class="date">2017 - 11 - 01</span>
                        </a>
                      </div>
                    </li>
                    <li style="background:url('../../static/images/page/gallery_board01.jpg') no-repeat">
                      <div class="glTextBox">
                        <a href="#" title="">
                          <span class="title">[대회]전국대회태권도<br/>선수권대회</span>
                          <span class="titleEng">National Taekwondo<br/>Championships</span>
                          <span class="date">2017 - 11 - 01</span>
                        </a>
                      </div>
                    </li>
                    <li style="background:url('../../static/images/page/gallery_board01.jpg') no-repeat">
                      <div class="glTextBox">
                        <a href="#" title="">
                          <span class="title">[대회]전국대회태권도<br/>선수권대회</span>
                          <span class="titleEng">National Taekwondo<br/>Championships</span>
                          <span class="date">2017 - 11 - 01</span>
                        </a>
                      </div>
                    </li>
                    <li style="background:url('../../static/images/page/gallery_board01.jpg') no-repeat">
                      <div class="glTextBox">
                        <a href="#" title="">
                          <span class="title">[대회]전국대회태권도<br/>선수권대회</span>
                          <span class="titleEng">National Taekwondo<br/>Championships</span>
                          <span class="date">2017 - 11 - 01</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="pageing">
                  <div class="innerBox">
                    <button type="button" name="button" class="btnL"></button>
                    <button type="button" name="button" class="on">1</button>
                    <button type="button" name="button">2</button>
                    <button type="button" name="button">3</button>
                    <button type="button" name="button">4</button>
                    <button type="button" name="button">5</button>
                    <button type="button" name="button" class="btnR"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="quick">
              <div class="quickTop">
                <strong>QUICK</strong>
                <span>MENU</span>
              </div>
              <div class="quickBtnBox">
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick01" src="../../static/images/common/quick_btn01.png" alt="모집요강"/></a>
                </div>
                <div class="quickBotLine">
                  <img src="../../static/images/common/quickBotLine.png" alt="" />
                </div>
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick02" src="../../static/images/common/quick_btn02.png" alt="입시원서 다운로드"/></a>
                </div>
                <div class="quickBotLine">
                  <img src="../../static/images/common/quickBotLine.png" alt="" />
                </div>
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick03" src="../../static/images/common/quick_btn03.png" alt="포털사이트"/></a>
                </div>
                <div class="quickBotLine">
                  <img src="../../static/images/common/quickBotLine.png" alt="" />
                </div>
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick04" src="../../static/images/common/quick_btn04.png" alt="인터넷 발급"/></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 본문영역 END-->
    <div class="bg"></div>
  </div>
  <!-- 브라우저 안내 -->
  <div class="browserBox">
    <div class="browserBg"></div>
    <div class="browserCon">
      <div class="browserConIn">
        <button class="browserCloseBtn"><img src="../../static/images/main/browser_btn04.png" alt="닫기" /></button>
        <p class="p01">권장 브라우저 안내</p>
        <p class="p02">
          해당 사이트는 Internet Explorer 9 이상의 브라우저에 최적화 되어 있습니다. 편리한 사이트를 이용을 위하여 최신 버전의 익스플로러 또는 크롬 브라우저 이용을 권장합니다.
        </p>
        <div class="browserBtnBox">
          <a href="https://support.microsoft.com/ko-kr/help/17621/internet-explorer-downloads" target="_blank" class="fL" title="">
            <img src="../../static/images/main/browser_btn01.png" alt="최신익스플로러"/>
          </a>
          <a href="https://www.google.co.kr/chrome/browser/desktop/" target="_blank" class="fR" title="">
            <img src="../../static/images/main/browser_btn02.png" alt="크롬브라우저"/>
          </a>
        </div>
        <div class="browserBtnBox02">
          <button><img src="../../static/images/main/browser_btn03.jpg" alt="계속하기"/></button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../static/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="../../static/js/jquery_publisher.js"></script>
  <script type="text/javascript" src="../../static/js/jquery_publisher_main.js"></script>
  <script type="text/javascript" src="../../static/js/jquery_publisher_plugn.js"></script>
  <script>
    $('html').removeClass('no-js');
  </script>
</body>

</html>
