<!DOCTYPE html>
<html lang="ko" class="no-js">

<head>
  <title>건국대학교 생활체육학과</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- // 브라우저 안내 END -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="../../static/css/reset.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/common.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/jquery.bxslider.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/font.css" />
  <!--[if lt IE 9]>
	<link type="text/css" rel="stylesheet" href="../../static/css/ie9.css"/>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<script src="../../static/js/selectivizr-min.js"></script>
	<script type="text/javascript" src="../../static/js/respond.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-1.11.1.min.js"></script>
  <![endif]-->
  <!--[if gte IE 9]>
	<script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"></script>
  <![endif]-->
  <!--[if !IE]>-->
  <script type="text/javascript" src="../../static/js/jquery-min.js"></script>
  <!--<![endif]-->
  <style>
    .no-js {
      display: none;
    }
    .mainMenu li:nth-child(1) .depth1 {
      font-weight:700;
    }
    .mainMenu li:nth-child(1) .depth1:after {
      width:80%;
      opacity:1;
    }
  </style>
</head>

<body>
  <!-- 스킵네비게이션 -->
  <div id="skipNav">
    <div><a href="#container" title="">skip to the menu</a></div>
  </div>
  <!-- 스킵네비게이션 END -->
  <div id="wrap">
    <div id="visual" class="visual01">
    </div>
    <!-- 본문영역 -->
    <div id="container">
      <div id="conWrap">
        <div id="lnb">
          <div class="subTitle">
            <h2>전공안내</h2>
            <div>
              <img src="../../static/images/page/subH2_line.png" alt=""/>
            </div>
          </div>
          <ul class="lnbBox">
            <li>
              <a href="#" title="전공안내">전공안내</a>
            </li>
            <li>
              <a href="#" title="교수진" class="on">교수진</a>
            </li>
            <li>
              <a href="#" title="진료안내">진료안내</a>
            </li>
            <li>
              <a href="#" title="수상현황">수상현황</a>
            </li>
            <li>
              <a href="#" title="MOU">MOU</a>
            </li>
            <li>
              <a href="#" title="찾아오시는 길">찾아오시는 길</a>
            </li>
          </ul>
        </div>
        <div id="content">
          <div class="contentBoxSub">
            <div class="conInner">
              <div class="position">
                <span>HOME</span> &gt;&nbsp;
                <span>전공안내</span> &gt;&nbsp;
                <span>교수진</span>
              </div>
              <h3>교수소개</h3>
              <ul class="tabMenu">
                <li class="on">
                  <button type="button" name="button">전임교수</button>
                </li>
                <li>
                  <button type="button" name="button">지도교수</button>
                </li>
                <li>
                  <button type="button" name="button">시간강사</button>
                </li>
              </ul>
              <div class="tabContent tabCon01">
                <div class="images">
                  <img src="../../static/images/page/professor01.jpg" alt=""/>
                </div>
                <div class="profile pf01">
                  <h4>홍길동 교수</h4>
                  <p>전공 및 담당 교과목</p>
                  <p>
                    전공&nbsp;|&nbsp;스포츠여가학<br/>
                    전공&nbsp;|&nbsp;여가 및 레크리에이션, 체육한개론
                  </p>
                </div>
                <div class="profile pf02">
                  <h4>경력</h4>
                  <p>- 한국여가레크리에이션학회 상임이사 겸 논문심사위원</p>
                  <p>- 한국골프학회 이사 겸 논문심사위원</p>
                  <p>- 아시아여성연구소 논문심사위원</p>
                  <p>- 레저휘트니스연구소 소장</p>
                  <p>- 치료레크리에이션연구소 이사</p>
                  <p>- 대한보디빌딩협회 심판</p>
                  <p>- 안양대학교 교수임용 심사위원</p>
                  <p>- 강남대학교 학점은행제 평가위원</p>
                  <p>- 직능특별위원회 체육위원회 자문위원</p>
                  <p>- 학교체육대책위원회 대책위원</p>
                  <p>- 아름다운 세상을 만드는 사람들(아세사)' 자문교수</p>
                  <p>- 국방부 체육지도관(상무감독) 면접위원</p>
                  <p>- 노동부 사회적기업 '함께하는 우리' 지적장애아동자립센터 후원이사 및 자문위원</p>
                  <p>- 증평생활체육관 건립사업 심사위원</p>
                  <p>- 고려대학교 외래교수</p>
                  <p>- 배재대학교 외래교수</p>
                  <p>- 안양대학교 외래교수</p>
                </div>
              </div>
              <div class="tabContent tabCon02">
              </div>
              <div class="tabContent tabCon03">
              </div>
            </div>
            <div class="quick">
              <div class="quickTop">
                <strong>QUICK</strong>
                <span>MENU</span>
              </div>
              <div class="quickBtnBox">
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick01" src="../../static/images/common/quick_btn01.png" alt="모집요강"/></a>
                </div>
                <div class="quickBotLine">
                  <img src="../../static/images/common/quickBotLine.png" alt="" />
                </div>
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick02" src="../../static/images/common/quick_btn02.png" alt="입시원서 다운로드"/></a>
                </div>
                <div class="quickBotLine">
                  <img src="../../static/images/common/quickBotLine.png" alt="" />
                </div>
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick03" src="../../static/images/common/quick_btn03.png" alt="포털사이트"/></a>
                </div>
                <div class="quickBotLine">
                  <img src="../../static/images/common/quickBotLine.png" alt="" />
                </div>
                <div class="quickBtn">
                  <a href="#" title=""><img class="quick04" src="../../static/images/common/quick_btn04.png" alt="인터넷 발급"/></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 본문영역 END -->
    <div class="bg"></div>
  </div>
  <!-- 브라우저 안내 -->
  <div class="browserBox">
    <div class="browserBg"></div>
    <div class="browserCon">
      <div class="browserConIn">
        <button class="browserCloseBtn"><img src="../../static/images/main/browser_btn04.png" alt="닫기" /></button>
        <p class="p01">권장 브라우저 안내</p>
        <p class="p02">
          해당 사이트는 Internet Explorer 9 이상의 브라우저에 최적화 되어 있습니다. 편리한 사이트를 이용을 위하여 최신 버전의 익스플로러 또는 크롬 브라우저 이용을 권장합니다.
        </p>
        <div class="browserBtnBox">
          <a href="https://support.microsoft.com/ko-kr/help/17621/internet-explorer-downloads" target="_blank" class="fL" title="">
            <img src="../../static/images/main/browser_btn01.png" alt="최신익스플로러"/>
          </a>
          <a href="https://www.google.co.kr/chrome/browser/desktop/" target="_blank" class="fR" title="">
            <img src="../../static/images/main/browser_btn02.png" alt="크롬브라우저"/>
          </a>
        </div>
        <div class="browserBtnBox02">
          <button><img src="../../static/images/main/browser_btn03.jpg" alt="계속하기"/></button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../static/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="../../static/js/jquery_publisher.js"></script>
  <script type="text/javascript" src="../../static/js/jquery_publisher_main.js"></script>
  <script type="text/javascript" src="../../static/js/jquery_publisher_plugn.js"></script>
  <script>
    $('html').removeClass('no-js');
  </script>
</body>

</html>
